body{
	background-color: #87cf25;
}

.navbar-inverse{
	background-color: #222;
}

.pinned_note{
    color:black;
}

.jumbotron{
        background: url('/img/bg_items.png');
	background-color: #87cf25;
}
